<div class="container" (click)="onClick()">
  <span><strong>{{ user.userName }}</strong></span>
  <span>E-mail: {{ user.userMail }}</span>
  <span>{{ user.userActive }}</span>
  <span>Role: {{ user.categories }}</span>
</div>
